#cards-content {
    padding: 10px;
    height: max-content;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}